@charset "UTF-8";
body {
  margin: 0px;
  background-image: url("../images/texture1.png");
  font-family: "Roboto", sans-serif; }

.header,
.header-fijo {
  position: absolute; }

.header {
  background: #645A90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 3; }
  .header a {
    position: relative;
    color: #FFF;
    text-decoration: none;
    margin-right: 20px; }
    .header a:hover {
      text-decoration: underline;
      text-decoration-style: solid;
      color: #FFF; }
  .header nav {
    position: relative;
    margin: 0;
    margin-right: 10px; }

.logo-case1 {
  margin: 0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px; }

.logo1 {
  width: 50px;
  height: 50px; }

.Header-fijo {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; }

.Header-fijo-nav {
  background-color: #645A90;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .Header-fijo-nav a {
    padding: 0 1vw;
    text-decoration: none;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 17px; }
    .Header-fijo-nav a:hover {
      text-decoration: underline;
      text-decoration-style: solid;
      color: #FFF; }

.foto-contacto {
  background: #0000ff24;
  width: 100%;
  height: 250px;
  background-image: url(https://www.simco-ion.es/uploads/pics/BannerLogIn.jpg);
  background-repeat: no-repeat;
  background-position: 0 -80%;
  background-attachment: fixed;
  background-size: contain; }

* {
  background: transparent; }

body {
  margin: 0px;
  background-image: url("../images/texture1.png"); }

.foto-contacto {
  background: #0000ff24;
  width: 98.8vw;
  height: 100px;
  background-image: url("http://www.vsystems.com.mx/assets/images/iconos704x334-180.jpg");
  background-repeat: repeat;
  background-position: center; }
  .foto-contacto p {
    margin: 0;
    padding: 10% 50%; }

.Contact {
  display: flex;
  height: auto;
  width: auto;
  padding-left: 20%; }

.form {
  display: block;
  margin-top: 20px;
  margin-left: 80px;
  width: auto;
  height: auto;
  margin-bottom: 15vh; }

.Form-1,
.Form-2,
.Form-3,
.Form-4 {
  margin-bottom: 20px;
  padding-left: 20px; }

.info-titulo {
  margin-top: 80px; }

.info-titulo h2 {
  margin: 0; }

#name,
#email,
#tel {
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 4px; }

#message {
  width: 100%;
  height: 100px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FAFAFA;
  /* NOTE: background */
  resize: none; }

.Contact-button {
  width: 80px;
  height: 25px;
  background: #3498DB;
  box-shadow: 0px 5px 0px 0px #2980B9;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 90%;
  margin-top: 10px; }

.Contact-button:hover {
  background: #39a0e5; }

.Info {
  display: inline;
  width: 40vw;
  height: 538px;
  margin-left: 80px;
  margin-top: 40px; }

.Info-redes {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex; }

.Info-dir {
  width: 100%;
  height: 80px; }

.Info-empresa {
  width: 100%;
  height: 30px; }

.form p {
  margin: 2px; }

.Info-dir p,
.Info-empresa p {
  margin: 0; }

.Info p {
  margin-bottom: 3px; }

.Redes-Container-d {
  height: 20px;
  width: 20px;
  margin: 0;
  margin-left: 0px; }

.Redes-facebook-d,
.Redes-instagram-d,
.Redes-twitter-d {
  width: 20px; }

.Redes-twitter-d {
  margin-left: 10px; }

.Redes-instagram-d {
  margin-left: 20px; }

.Menu-hamburguesa {
  display: none; }

footer {
  background: #F9F9F9;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  margin-left: 0;
  height: 50px;
  width: 100%; }
  footer p {
    margin: 0; }

.footer-kitma a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

.footer-redes {
  display: flex; }

.footer-redes {
  height: 20px;
  width: 20px; }

.Redes-Container {
  height: 20px;
  width: 20px;
  margin: 0;
  margin-left: 10px; }

.Redes-facebook {
  width: 20px; }

.Redes-twitter {
  width: 20px; }

.Redes-instagram {
  width: 20px; }

@media (max-width: 767px) and (min-width: 320px) {
  .header {
    display: none; }

  .Contact {
    display: inline; }

  .form {
    height: auto;
    width: auto;
    margin-left: 0; }
    .form h2 {
      text-align: center;
      margin-top: 10vh;
      margin-bottom: 6vh; }

  .foto-contacto {
    display: none; }

  .Form-1,
  .Form-2,
  .Form-3,
  .Form-4 {
    margin-left: 5vw;
    width: 85vw; }

  .Contact-button {
    margin-left: 70%; }

  .Info {
    display: none; }

  footer {
    display: grid !important;
    bottom: 0; }

  * {
    box-sizing: border-box; }

  body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden; }

  a {
    text-decoration: none; }

  .Menu-hamburguesa {
    display: block; }

  .nav {
    position: absolute;
    width: 150px;
    height: 62vh;
    top: 0;
    left: -220px;
    padding-top: 47px;
    padding-bottom: 100px;
    background-color: #1d2120;
    transition: all .5s ease; }

  .nav__item {
    display: block;
    width: 96%;
    margin: 0px auto;
    line-height: 2;
    position: relative;
    border-bottom: 0.5px solid #3b3e3d;
    border-top: 0.5px solid #3b3e3d;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #dde7e4; }

  .logo-case {
    margin-left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 145px; }

  .logo {
    width: 70px;
    height: 70px;
    margin-top: -17px; }

  .Menu-hamburguesa nav a {
    color: white;
    text-decoration: none; }

  .current:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 17px solid transparent;
    border-left: 15px solid #1D2120;
    border-bottom: 17px solid transparent;
    top: 0px;
    right: -15px;
    z-index: 4; }

  .current:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 16.5px solid transparent;
    border-bottom: 17px solid transparent;
    top: .5px;
    right: -21px;
    z-index: 1; }

  .menu-toogle {
    position: fixed;
    width: 35px;
    line-height: 1.1;
    text-align: center;
    top: 6.5px;
    left: 8px;
    border-radius: 3px;
    background-color: transparent;
    transition: all .5s ease;
    z-index: 10; }

  .menu-toogle::before {
    content: "Ôÿ░";
    font-size: 32px;
    color: black; }

  .checkbox {
    display: none; }

  .checkbox:checked ~ .nav {
    left: 0px;
    position: fixed; }

  .checkbox:checked ~ .main-w {
    margin-left: 200px; }

  .checkbox:checked ~ .menu-toogle {
    left: 170px;
    position: fixed; } }

/*# sourceMappingURL=ContactLayout.css.map */
