body{
  margin: 0px;
  padding:0px;
font-family: 'Roboto', sans-serif;
background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed;

}
.header{
  background: #4C3F87;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header nav{
  margin-right: 10px;
}

.logo-case{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

.foto-contacto{
  background: #0000ff24;
  width: 100%;
  height: 250px;
  background-image: url(https://www.simco-ion.es/uploads/pics/BannerLogIn.jpg);
  background-repeat: no-repeat;
  background-position: 0 -80%;
  background-attachment: fixed;
  background-size: auto;
}

.foto-contacto p{
  margin:0;
  padding: 10% 50%;
}
.login-page{
  margin-top: 3%;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page#login-form:before {
  content: 'ó';
  color: #79b42b;
  position: absolute;
  top: 15%;
  right: 0;
  left: 1%;
  bottom: 0;
  margin: auto;
  height: 0.5em;
  width: 0.5em;
  left: 1.5em;
  z-index: 900;
}
.login-page#login-form:after {
  content: '';
  position: absolute;
  background: rgba(128, 128, 128, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 15px;
  margin: auto;
  height: 3.25em;
  width: 0.1em;
  left: 2.15em;
  -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4C3F87;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #3c355f;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: block;
}

.info-titulo{
  margin-top: 80px;
}

.info-titulo h2{
  margin: 0;
}

#nombre,
#email,
#tel{
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 4px;
}

#message{
  width: 100%;
  height: 100px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FAFAFA; /* NOTE: background */
  resize: none;
}
.left{
  position: relative;
  float: left;
  margin-top:5px;
  margin-left: 15%;

}
.right{
  position: relative;
  float: right;
  margin-top:5px;
margin-right: 15%;
}
.right a {
  color: #fff;
  font-style: normal;
  font-size: .9em;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
}
.bts {
  padding: 2em;
  margin: 0.6em 0;
  margin-top:
}
.bts-a:hover{
  color: #79b42b;
  text-decoration: none;
  background: white;
}
.social{
  transition: background 200ms ease-in-out 0s;
  -webkit-transition: background 200ms ease-in-out 0s;
  -moz-transition: background 200ms ease-in-out 0s;
  -o-transition: background 200ms ease-in-out 0s;
  -ms-transition: background 200ms ease-in-out 0s;
  border-radius: 13px;
  padding: 5px;
  margin-top: 12px;
  text-indent:0;
  display:block;
  color:#ffffff;
  height:50px;
  line-height:50px;
  width: 100%;
  text-decoration:none;
  text-align:center;
}
i.fab.fa-facebook-f {
    padding-right: 5px;
}
i.fab.fa-google-plus-g
{
   padding-right: 5px;
}
.fblogin {
  background-color:#3b5898;
}
.fblogin:hover {
  background-color:#5177c2;
}
.fblogin:active {
  position:relative;
  top:1px;
}
.gplogin {
  background-color:#dd4c39;
}
.gplogin:hover {
  background-color:#f06e60;
}
.gplogin:active {
  position:relative;
  top:1px;
}

.Contact-button{
  width: 80px;
  height: 25px;
  background: #3498DB;
  box-shadow: 0px 5px 0px 0px #2980B9;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 90%;
  margin-top: 10px;
}

.Contact-button:hover{
  background: #39a0e5;
}

.Info{
  background: white; /* NOTE: background */
  display: inline;
  width: 40vw;
  height: 538px;
  margin-left: 80px;
  margin-top: 40px;
}

.form p{
  margin: 2px;
}
footer{
  position: fixed;
  background: #F9F9F9;
  display: flex;
  margin-left:0;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content:space-around;
  bottom: 0;
}

footer p{
  margin:0;
}

.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-redes{
  display: flex;
}

.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}
.Redes-facebook{
  width: 20px;
}
.Redes-instagram{
    width: 20px;
}
.footer-redes{
  height: 20px;
  width: 20px;
}
.Redes-Container-d{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:0px;

}

.Redes-facebook-d,
.Redes-instagram-d,
{
  width: 20px;
}
.Redes-instagram-d{
  margin-left: 20px;
}
@media (max-width:680px) {
  .foto-contacto{
    background-position: center top;

  }
  .form {
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto  100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .login-page#login-form:before {
    display: none;
  }
  .login-page#login-form:after {
    display: none;}
  .left{
    margin-left: 2%;

  }
}
