*{
  background: transparent;
}

.header{
  background: #4C3F87;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.header a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header nav{
  margin-right: 10px;
}

.logo-case{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

body{
  margin: 0px;
  background-image: url("../images/texture1.png");
}

.foto-contacto{
  background: #0000ff24;
  width: 100vw;
  height: 100px;
  background-image: url("http://www.vsystems.com.mx/assets/images/iconos704x334-180.jpg");
  background-repeat: repeat;
  background-position: center;
}

.foto-contacto p{
  margin:0;
  padding: 10% 50%;
}

.Contact{
  display: flex;
  padding-left: 20%;
}

.form{
  display: block;
  margin-top: 20px;
  margin-left: 80px;
  width: 40vw;
  height: 538px;
}

.Form-1,
.Form-2,
.Form-3,
.Form-4{
  margin-bottom: 20px;
  padding-left: 20px;
}

.info-titulo{
  margin-top: 80px;
}

.info-titulo h2{
  margin: 0;
}


#name,
#email,
#tel{
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 4px;
}

#message{
  width: 100%;
  height: 100px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FAFAFA; /* NOTE: background */
  resize: none;
}


.Contact-button{
  width: 80px;
  height: 25px;
  background: #3498DB;
  box-shadow: 0px 5px 0px 0px #2980B9;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 90%;
  margin-top: 10px;
}

.Contact-button:hover{
  background: #39a0e5;
}

.Info{
  display: inline;
  width: 40vw;
  height: 538px;
  margin-left: 80px;
  margin-top: 40px;
}

.Info-redes{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  display: flex;
}

.Info-dir{
  width: 100%;
  height: 80px;
}

.Info-empresa{
  width: 100%;
  height: 30px;
}

.form p{
  margin: 2px;
}

.Info-dir p,
.Info-empresa p{
  margin: 0;
}

.Info p{
  margin-bottom: 3px;
}

footer{
  background: #F9F9F9;
  display: flex !important;
  margin-left:0;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}

footer p{
  margin:0;
}

.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-redes{
  display: flex;
}

.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}

.Redes-facebook{
  width: 20px;
}

.Redes-twitter{
  width: 20px;
}

.Redes-instagram{
    width: 20px;
}

.footer-redes{
  height: 20px;
  width: 20px;
}


.Redes-Container-d{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:0px;

}

.Redes-facebook-d,
.Redes-instagram-d,
.Redes-twitter-d{
  width: 20px;
}

.Redes-twitter-d{
  margin-left: 10px;
}

.Redes-instagram-d{
  margin-left: 20px;
}


@media (max-width:767px) and (min-width:320px) {

.header{
  display: none;
}

.Contact{
  display: inline;
}

.form h2{
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 6vh;
}

.foto-contacto{
  display: none;
}

.form{  display: inherit;
}

.Form-1,
.Form-2,
.Form-3,
.Form-4{
  margin-left: 5vw;
  width: 85vw;
}

.Contact-button{
  margin-left: 70%;
}

.Info{
  display: none;
}

footer{
  display: grid !important;
  bottom: 0;
}

/* IDEA: Menu Hamburguesa */

* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration:none;
}

.nav {
  position:absolute;
  width:150px;
  height: 62vh;
  top:0;
  left:-220px;
  padding-top:47px;
  padding-bottom: 100px;
  background-color: rgba(29, 33, 32, 1);
  transition:all .5s ease;
}
.nav__item {
   display:block;
   width:96%;
   margin:0px auto;
   line-height:2;
   position:relative;
   border-bottom:.5px solid rgba(59, 62, 61, 1);
   border-top:.5px solid rgba(59, 62, 61, 1);
   background-color:transparent;
   font-family: 'Open Sans', sans-serif;
   text-align:center;
   color:rgba(221, 231, 228, 1);
}

.Menu-hamburguesa nav a{
  color: white;
  text-decoration: none;
}

.current:before {
  content:"";
  width:0;
  height:0;
  position:absolute;
  border-top:17px solid transparent;
  border-left:15px solid #1D2120;
  border-bottom:17px solid transparent;
  top:0px;
  right:-15px;
  z-index:4;
}

.current:after {
  content:"";
  width:0;
  height:0;
  position:absolute;
  border-top:16.5px solid transparent;
  border-bottom:17px solid transparent;
  top:.5px;
  right:-21px;
  z-index:1;
}

.menu-toogle {
  position:fixed;
  width: 35px;
  line-height:1.1;
  text-align:center;
  top:6.5px;
  left: 8px;
  border-radius:3px;
  background-color: transparent;
  transition: all .5s ease;
  z-index:10;
  }

.menu-toogle::before {
  content:"☰";
  font-size:32px;
  color:black;
}

.checkbox {
  display:none;
}

.checkbox:checked ~ .nav {
  left:0px;
  position:fixed;
}

.checkbox:checked ~ .main-w {
  margin-left:200px;
}

.checkbox:checked ~ .menu-toogle {
  left:170px;
  position:fixed;
}
}
