@import "variables";
@import "mixins";


.grid-container1{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 1px;
  padding: 0 10px;
  position: absolute;
  div{
    text-align: center;
    padding: 5px 0;
  }
  .logo{
    grid-column-start:1;
    grid-column-end: 5;
    height: auto;
    width: auto;
  }
}

.titulo,
.signup{
  grid-column-start: 1;
  grid-column-end: 5;
}

.titulo{
  h1{
    font-size: 40px;
  }
}

.logo{
  img{
    height:35vh;
  }
}

.signup{
  button{
    background-color: $btn-color; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    &:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }
}

#particles-js{
  height: 100vh;
  background: $bgp-color;
  position: relative;
  @include display(flex,center,center);
  width: $wp-size;
}

.cuento1 img,
.cuento2 img,
.cuento3 img,
.cuento4 img{
  width: 140px;
  height: 140px;
}

.cuento1{
 @include animacion-cuento;
}

.cuento2{
  @include animacion-cuento;
}

.cuento3{
  @include animacion-cuento;
}

.cuento4{
  @include animacion-cuento;
}

.line{
  @include line(#645A90);
}

.line1{
  @include line(#FFF);
}

.Que-es{
  height: auto;
  @include display(block,center,center);
  @include centrar(50vw);
  text-align: center;
  margin-bottom: 30vh;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 20vh;
  div{
    h2{
      @include font($title-size,$title-weight);
    }
  }
}

.Conocenos{
  div{
    h2{
      @include font($title-size,$title-weight);
    }
  }
}

.Que-es{
  div{
    p{
      @include font(1rem,500);
      letter-spacing: 0.02rem;
      line-height: 1.7;
      padding:0 0px;
    }
  }
}

.Conocenos{
  height: auto;
  @include display(block,center,center);
  @include centrar(50vw);
  text-align: center;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 12vh;
  margin-bottom: 20vh;
  div{
    p{
      @include font(1rem, 500);
      letter-spacing: 0.02rem;
      line-height: 1.7;
      padding:0 0px;
    }
  }
}

.full-screen{
  width: $wp-size;
  height: auto;
  background: $primary-color;
}

.texto-blanco{
  color: white;
}

.grid-container{
  @include centrar(70vw);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 10px;
  grid-column-gap: 5%;
  div{
    text-align: center;
    padding: 20px 0;
  }
}

.item1{
  grid-column-start: 1;
  grid-column-end: 3;
  h2{
    @include font($title-size,$title-weight);
  }
  p{
    @include font(1rem,500);
    line-height: 45px;
  }
}

.item3{
  img{
    height: 100px;
  }
}

.item4{
  img{
    height: 100px;
  }
}

.item5{
  h2{
    margin-bottom: 8vh;
  }
}

.item6{
  h2{
    margin-bottom: 8vh;
  }
}

.item7{
  grid-column-start: 1;
  grid-column-end: 3;
}

.Primer-p{
  margin-top: 50px;
}


.Im-Cont{
  position: fixed;
  bottom: 7vh;
  right: 2vw;
  width: 60px;
  height: 60px;
}

.logo-case {
    margin-left: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 145px;
}
.logo {
    width: 70px;
    height: 70px;
    margin-top: -17px;
}

.Menu-hamburguesa{
  display:none;
}
