footer{
  background: #F9F9F9;
  display: flex !important;
  margin-left:0;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: inherit;
  p{
    margin:0;
  }
}
.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer-redes{
  display: flex;
}
.footer-redes{
  height: 20px;
  width: 20px;
}
.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}
.Redes-facebook{
  width: 20px;
}
.Redes-twitter{
  width: 20px;
}
.Redes-instagram{
    width: 20px;
}
