@import "variables";
@import "mixins";

body{
  margin: 0px;
  background-image: url("../images/texture1.png");
  font-family: "Roboto", sans-serif;
}
.header,
.header-fijo{
  position: absolute;
}
.header{
    background: $primary-color;
    @include display(flex,space-between,center);
    width: 100%;
    top: 0;
    z-index: 3;
    a{
     position: relative;
     color: $a-color;
     text-decoration: none;
     margin-right: 20px;
     &:hover{
      text-decoration: underline;
      text-decoration-style: solid;
      color: $a-color;
      }}
   nav{
     position: relative;
     margin:0;
     margin-right: 10px;
   }
    }

.logo-case1{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo1{
  width: 50px;
  height: 50px;
}

.Header-fijo{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  @include display(flex,center,center);
  width: auto;
}

.Header-fijo-nav{
  background-color:$primary-color;
  height: inherit;
  width: inherit;
  @include display(flex, space-between,center);
a{
  padding: 0 1vw;
  text-decoration: none;
  height: inherit;
  @include display(flex,center,center);
  color: $a-color;
  font-size: 17px;
  &:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    color: $a-color;
  }}}

  .foto-contacto{
    background: #0000ff24;
    width: 100%;
    height: 250px;
    background-image: url(https://www.simco-ion.es/uploads/pics/BannerLogIn.jpg);
    background-repeat: no-repeat;
    background-position: 0 -80%;
    background-attachment: fixed;
    background-size: contain;
    }
