@import "variables";
@import "mixins";

body{
  margin: 0px;
  background-image: url("../images/texture1.png");
  font-family: "Roboto", sans-serif;
}
.header,
.header-fijo{
  position: absolute;
}
.header{
    background: $primary-color;
    @include display(flex,space-between,center);
    width: 100%;
    top: 0;
    z-index: 3;
    a{
     position: relative;
     color: $a-color;
     text-decoration: none;
     margin-right: 20px;
     &:hover{
      text-decoration: underline;
      text-decoration-style: solid;
      color: $a-color;
      }}
   nav{
     position: relative;
     margin:0;
     margin-right: 10px;
   }
    }

.logo-case1{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo1{
  width: 50px;
  height: 50px;
}

.Header-fijo{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  @include display(flex,center,center);
  width: auto;
}

.Header-fijo-nav{
  background-color:$primary-color;
  height: inherit;
  width: inherit;
  @include display(flex, space-between,center);
a{
  padding: 0 1vw;
  text-decoration: none;
  height: inherit;
  @include display(flex,center,center);
  color: $a-color;
  font-size: 17px;
  &:hover{
    text-decoration: underline;
    text-decoration-style: solid;
    color: $a-color;
  }}}
fieldset {
border: none;
}
.login {
z-index: 9999;
position: absolute;
width: 350px;
display: none;
margin-top: 2%;
}

.arrow-up {
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 15px solid #ECF0F1;
right: 10%;
position: absolute;
top: -10px;
}

.formholder {
background: #ecf0f1;
width: 350px;
border-radius: 5px;
padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
padding: 7px 5px;
margin: 10px 0;
width: 96%;
display: block;
font-size: 18px;
border-radius: 5px;
border: none;
-webkit-transition: 0.3s linear;
-moz-transition: 0.3s linear;
-o-transition: 0.3s linear;
transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
outline: none;
box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
background: #645A90;
padding: 10px;
font-size: 20px;
display: block;
width: 100%;
border: none;
color: #fff;
border-radius: 5px;
}
.formholder input[type="submit"]:hover {
background: #1bc6a4;
}
.randompad {
padding: 10px;
}
.green {
color: #1abc9c;
}
.foto-contacto{
background: #0000ff24;
width: 100%;
height: 250px;
background-image: url(https://www.simco-ion.es/uploads/pics/BannerLogIn.jpg);
background-repeat: no-repeat;
background-position: 0 -80%;
background-attachment: fixed;
background-size: contain;
}
