@import "mixins";
@import "variables";


@media (min-width:1400px) {
  .cuento1 img,
  .cuento2 img,
  .cuento3 img,
  .cuento4 img{
    width: 200px;
    height: 200px;
    margin-left: 20px;
  }
}

@media (max-width:767px) and (min-width:320px) {
  .Header-fijo,
  .header,
  .cuento1,
  .cuento2,
  .cuento3,
  .cuento4{
    display: none;
  }
  h2{
    @include font($title-size,$title-weight);
  }

  .carousel{
    width: 50vw;
    margin: 10vh auto;
    // h2{ // IDEA: NO SE VE!!!!
    //   text-align: center;
    //    margin bottom: 10vh;
    //    margin-left: auto;
    //    margin-right: auto;
    //    text-align: center;
    //    font-size: 2.7rem;
    //    font-weight: 100;
    //  }
   }

  #particles-js{
    height: 100vh;
  }

  body{
    margin: 0px;
  }

  .Home-Titulo{
    @include display(flex,center,center);
    font-size: 40px;
  }

  .Crea-Cuento{
    @include display(flex,center,center);
    margin-bottom: 1em;
  }

  .Que-es{
    margin-top: 15vh;
    width: 80vw;
    height: auto;
  }

  .Conocenos{
    width: 80vw;
    margin-top: 10vh;
    height: auto;
  }

  .grid-container{
    grid-column-gap: 15%;
  }

  .Primer-p{
    margin-top: 50px;
  }

  .Im-Cont{
    display: none;
  }

  #carousel{
    text-align: center;
  }

  footer{
    display: grid !important;
  }

  * {
    box-sizing:border-box;
  }
  body {
    margin:0;
    padding:0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  a {
    text-decoration:none;
  }

  .Menu-hamburguesa{
    display: block;
  }

  .nav {
    position:absolute;
    width:150px;
    height: 62vh;
    top:0;
    left:-220px;
    padding-top:47px;
    padding-bottom: 100px;
    background-color: rgba(29, 33, 32, 1);
    transition:all .5s ease;
  }
  .nav__item {
     display:block;
     width:96%;
     margin:0px auto;
     line-height:2;
     position:relative;
     border-bottom:.5px solid rgba(59, 62, 61, 1);
     border-top:.5px solid rgba(59, 62, 61, 1);
     background-color:transparent;
     font-family: 'Open Sans', sans-serif;
     text-align:center;
     color:rgba(221, 231, 228, 1);
  }

  .Menu-hamburguesa nav a{
    color: white;
    text-decoration: none;
  }

  .current:before {
    content:"";
    width:0;
    height:0;
    position:absolute;
    border-top:17px solid transparent;
    border-left:15px solid #1D2120;
    border-bottom:17px solid transparent;
    top:0px;
    right:-15px;
    z-index:4;
  }

  .current:after {
    content:"";
    width:0;
    height:0;
    position:absolute;
    border-top:16.5px solid transparent;
    border-bottom:17px solid transparent;
    top:.5px;
    right:-21px;
    z-index:1;
  }

  .menu-toogle {
    position:fixed;
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:6.5px;
    left: 8px;
    border-radius:3px;
    background-color: transparent;
    transition: all .5s ease;
    z-index:10;
    }

  .menu-toogle::before {
    content:"☰";
    font-size:32px;
    color:black;
  }

  .checkbox {
    display:none;
  }

  .checkbox:checked ~ .nav {
    left:0px;
    position:fixed;
  }

  .checkbox:checked ~ .main-w {
    margin-left:200px;
  }

  .checkbox:checked ~ .menu-toogle {
    left:170px;
    position:fixed;
  }
}
