@media screen and (min-width: 1024px) {

.header,
.header-fijo{
  position: absolute;
}

.header{
  background: #645A90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.header a{
  position: relative;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header nav{
  position: relative;
  margin:0;
  margin-right: 10px;
}

.header a:hover{
  margin-right: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  font-weight: 600;
}

.logo-case{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

.Header-fijo{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
}

.Header-fijo-nav{
  background-color:#7f78a9;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-fijo a{
  padding: 0 1vw;
  text-decoration: none;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}

.Header-fijo a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  color: black;
  background-color: #7DA7C3;
}

body{
  margin: 0px;
  background-image: url("../images/texture1.png");
}

.F-section{
  margin-top: 80px;
  height: 83.2vh;
  width: 100vw;
}

.Back-Im{
  width: 100vw;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Im-Case{
  margin:0;
  width: 230px;
  height: 230px;
}

.Im{
  width: inherit;
  height: inherit;
  opacity: 1;
}

.Cuentos{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.Cuento1,
.Cuento2,
.Cuento3,
.Cuento4{
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.Cuento-case{
  margin:0;
  width: inherit;
  height: inherit;
}

.Cuento-img{
  margin:0;
  width: inherit;
  height: inherit;
}

.Home-Titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.Home-Titulo h1{
  margin: 30px;
  margin-bottom: 20px;
}

.Inscripcion{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inscripcion button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Inscripcion button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Que-es{
  width: 50vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 5vh;
}

.Que-es div h2,
.Conocenos div h2{
  font-size: 2.7rem;
  font-weight: 100;
}

.Que-es div p,
.Conocenos div p{
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Open Sans';
  letter-spacing: 0.02rem;
  line-height: 1.7;
  padding:0 0px;
}


.Conocenos{
  width: 50vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 12vh;
  margin-bottom: 20vh;
}

.Primer-p{
  margin-top: 50px;
}


.Im-Cont{
  position: fixed;
  bottom: 7vh;
  right: 2vw;
  width: 60px;
  height: 60px;
}



footer{
  position: fixed;
  background: #F9F9F9;
  display: flex;
  margin-left:0;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content:space-around;
  bottom: 0px;
}

footer p{
  margin:0;
}

.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-redes{
  display: flex;
}

.footer-redes{
  height: 20px;
  width: 20px;
}


.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}

.Redes-facebook{
  width: 20px;
}

.Redes-twitter{
  width: 20px;
}

.Redes-instagram{
    width: 20px;
}

.div-img.hidden {
 overflow: hidden;
}




.Cuento1{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento1:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento2{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento2:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento3{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento3:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento4{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento4:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}
}

@media (max-width:1023px) and (min-width:768px) {

.header,
.header-fijo{
  position: absolute;
}

.header{
  background: #645A90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.header a{
  position: relative;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header nav{
  position: relative;
  margin:0;
  margin-right: 10px;
}

.header a:hover{
  margin-right: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  font-weight: 600;
}

.logo-case{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

.Header-fijo{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
}

.Header-fijo-nav{
  background-color:#7f78a9;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-fijo a{
  padding: 0 1vw;
  text-decoration: none;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}

.Header-fijo a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  color: black;
  background-color: #7DA7C3;
}

body{

  margin: 0px;
  background: red;
}

.F-section{
  margin-top: 80px;
  height: 83.2vh;
  width: 100vw;
}

.Back-Im{
  width: 100vw;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Im-Case{
  margin:0;
  width: 230px;
  height: 230px;
}

.Im{
  width: inherit;
  height: inherit;
  opacity: 1;
}

.Cuentos{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.Cuento1,
.Cuento2,
.Cuento3,
.Cuento4{
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.Cuento-case{
  margin:0;
  width: inherit;
  height: inherit;
}

.Cuento-img{
  margin:0;
  width: inherit;
  height: inherit;
}

.Home-Titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.Home-Titulo h1{
  margin: 30px;
  margin-bottom: 20px;
}

.Inscripcion{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inscripcion button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Inscripcion button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Que-es{
  width: 50vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 5vh;
}

.Que-es div h2,
.Conocenos div h2{
  font-size: 2.7rem;
  font-weight: 100;
}

.Que-es div p,
.Conocenos div p{
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Open Sans';
  letter-spacing: 0.02rem;
  line-height: 1.7;
  padding:0 0px;
}


.Conocenos{
  width: 50vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 12vh;
  margin-bottom: 20vh;
}

.Primer-p{
  margin-top: 50px;
}


.Im-Cont{
  position: fixed;
  bottom: 7vh;
  right: 2vw;
  width: 60px;
  height: 60px;
}



footer{
  position: fixed;
  background: #F9F9F9;
  display: flex;
  margin-left:0;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content:space-around;
  bottom: 0px;
}

footer p{
  margin:0;
}

.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-redes{
  display: flex;
}

.footer-redes{
  height: 20px;
  width: 20px;
}


.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}

.Redes-facebook{
  width: 20px;
}

.Redes-twitter{
  width: 20px;
}

.Redes-instagram{
    width: 20px;
}

.div-img.hidden {
 overflow: hidden;
}




.Cuento1{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento1:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento2{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento2:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento3{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento3:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento4{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento4:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}
}

@media (max-width:767px) and (min-width:320px) {

.header,
.header-fijo{
  position: absolute;
}

.header{
  background: #645A90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  z-index: 3;
}

.header a{
  position: relative;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header nav{
  position: relative;
  margin:0;
  margin-right: 10px;
}

.header a:hover{
  margin-right: 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  font-weight: 600;
}

.logo-case{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

.Header-fijo{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
}

.Header-fijo-nav{
  background-color:#7f78a9;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-fijo a{
  padding: 0 1vw;
  text-decoration: none;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
}

.Header-fijo a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  color: black;
  background-color: #7DA7C3;
}

body{

  margin: 0px;
  background: blue;
}

.F-section{
  margin-top: 80px;
  height: 83.2vh;
  width: 100vw;
}

.Back-Im{
  width: 100vw;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Im-Case{
  margin:0;
  width: 230px;
  height: 230px;
}

.Im{
  width: inherit;
  height: inherit;
  opacity: 1;
}

.Cuentos{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.Cuento1,
.Cuento2,
.Cuento3,
.Cuento4{
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.Cuento-case{
  margin:0;
  width: inherit;
  height: inherit;
}

.Cuento-img{
  margin:0;
  width: inherit;
  height: inherit;
}

.Home-Titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.Home-Titulo h1{
  margin: 30px;
  margin-bottom: 20px;
}

.Inscripcion{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inscripcion button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Inscripcion button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Que-es{
  width: 50vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 5vh;
}

.Que-es div h2,
.Conocenos div h2{
  font-size: 2.7rem;
  font-weight: 100;
}

.Que-es div p,
.Conocenos div p{
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Open Sans';
  letter-spacing: 0.02rem;
  line-height: 1.7;
  padding:0 0px;
}


.Conocenos{
  width: 50vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 64px;
  overflow: visible;
  margin-top: 12vh;
  margin-bottom: 20vh;
}

.Primer-p{
  margin-top: 50px;
}


.Im-Cont{
  position: fixed;
  bottom: 7vh;
  right: 2vw;
  width: 60px;
  height: 60px;
}



footer{
  position: fixed;
  background: #F9F9F9;
  display: flex;
  margin-left:0;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content:space-around;
  bottom: 0px;
}

footer p{
  margin:0;
}

.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-redes{
  display: flex;
}

.footer-redes{
  height: 20px;
  width: 20px;
}


.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}

.Redes-facebook{
  width: 20px;
}

.Redes-twitter{
  width: 20px;
}

.Redes-instagram{
    width: 20px;
}

.div-img.hidden {
 overflow: hidden;
}




.Cuento1{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento1:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento2{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento2:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento3{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento3:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.Cuento4{
 display: block;
 transform: scale(1);
 -ms-transform: scale(1);
 -moz-transform: scale(1);
 -webkit-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transition: all 500ms ease-in-out;
 -moz-transition: all 500ms ease-in-out;
 -ms-transition: all 500ms ease-in-out;
 -o-transition: all 500ms ease-in-out;
}
.Cuento4:hover{
 transform: scale(1.2);
 -ms-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
}


/********************\
  $Reset ☰
\********************/
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  background-color:#A9BC00;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration:none;
}
/********************\
  $Layout ☰
\********************/

/*Damos estilos al menú*/
.nav {
  position:absolute;
  width:200px;
  height:100vh;
  top:0;
  left:-220px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
  padding-top:47px;
  background-color: rgba(29, 33, 32, 1);
  border-right:4px solid rgba(114, 126, 3, 1);
  transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
   /*Estilos de los li del menú*/
   .nav__item {
     display:block;
     width:96%;
     margin:0 auto;
     line-height:2;
     position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
     border-bottom:.5px solid rgba(59, 62, 61, 1);
     border-top:.5px solid rgba(59, 62, 61, 1);
     background-color:transparent;
     font-family: 'Lato', sans-serif;
     text-align:center;
     color:rgba(221, 231, 228, 1);
   }
       /*Damos colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
       .current:before {
          content:"";
          width:0;
          height:0;
          position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
          border-top:17px solid transparent;
          border-left:15px solid #1D2120;
          border-bottom:17px solid transparent;
          top:0px;
          right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
          z-index:4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
       }
      /*Colocamos el borde verde al triangulo por medio de otro trangulo verde*/
      .current:after {
          content:"";
          width:0;
          height:0;
          position:absolute;/*Le damos al after una posición absoluta relativa al li que lo contiene*/
          border-top:16.5px solid transparent;
          border-left:17px solid rgba(114, 126, 3, 1);
          border-bottom:17px solid transparent;
          top:.5px;
          right:-21px;
          z-index:1;  /*le otorgamos un z-index bajo para que se posicione debajo del trinagulo negro*/
      }
  /*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
  .menu-toogle {
    position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    left: 8px;
    border-radius:3px;
    background-color: #142b25;
    transition: all .5s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
    z-index:10;
  }
    /*Añadimos la haburguesa y le damos unos estilos*/
    .menu-toogle::before {
      content:"☰";
      font-size:32px;
      color:white;
    }

/* Le damos unos estilos al contenedor principal*/
.main-w {
  width:100%;
  height:100vh;
  transition: all .5s ease;
}
    .header-w figure {
      width:100%;
      height:150px;
      text-align:center;
      position:relative;
    }
        .header-w figure:before {
          content:"O";
          width:15px;
          height:15px;
          position:absolute;
          background-color:white;
          border-radius:100%;
          color:#A9BC00;
          font-size:120%;
          font-wheight:bolder;
          font-family:verdana;
          left:42vw;
          top:9vw;
        }
        .header-w figure:after {
          content:"O";
          width:15px;
          height:15px;
          position:absolute;
          background-color:white;
          border-radius:100%;
          color:#A9BC00;
          font-size:120%;
          font-wheight:bolder;
          font-family:verdana;
          left:50.8vw;
          top:9vw;
        }
    .featured-img {
      margin:3em 6vw 0 0;
      border:4px solid white;
      border-radius:100%;
    }
    .header-w__description {
      width:80%;
      height:auto;
      margin:0 auto;
      padding:1em;
      line-height:2;
      text-align:center;
      color:rgba(33, 36, 8, 1);
    }
        .header-w__title
        {
          font-size:300%;
          font-family:Lobster;
          margin:1em 0 0 0;
        }
        .header-w__title2 {
          font-size:250%;
          font-family:Lobster;
          margin:0;
        }
    .paragraph {
      width:80%;
      margin:0 auto;
      text-align:center;
      font-family:'Source Sans Pro', sans-serif;
    }

    /*Estos son los estilos que le dan la funcionalidad al menú*/
    /*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
    .checkbox {
      display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
    }
    .checkbox:checked ~ .nav {
      left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
      position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
    }
    .checkbox:checked ~ .main-w {
      margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
    }
    .checkbox:checked ~ .menu-toogle {
      left:208px;
      position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
    }


}
