.header{
  background: #4C3F87;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.header a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header nav{
  margin-right: 10px;
}

.logo-case{
  margin:0;
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 20px;
}

.logo{
  width: 50px;
  height: 50px;
}

body{
  margin: 0px;
}

.foto-contacto{
  background: #0000ff24;
  width: 100vw;
  height: 100px;
  background-image: url("http://www.vsystems.com.mx/assets/images/iconos704x334-180.jpg");
  background-repeat: repeat;
  background-position: center;
}

.foto-contacto p{
  margin:0;
  padding: 10% 50%;
}

.Contact{
  display: flex;
  padding-left: 20%;
}

.form{
  display: block;
  margin-top: 20px;
  margin-left: 80px;
  background:white; /* NOTE: background */
  width: 40vw;
  height: 538px;
}

.Form-1,
.Form-2,
.Form-3,
.Form-4{
  margin-bottom: 20px;
  padding-left: 20px;
}

.info-titulo{
  margin-top: 80px;
}

.info-titulo h2{
  margin: 0;
}


#name,
#email,
#tel{
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  border-radius: 4px;
}

#message{
  width: 100%;
  height: 100px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FAFAFA; /* NOTE: background */
  resize: none;
}


.Contact-button{
  width: 80px;
  height: 25px;
  background: #3498DB;
  box-shadow: 0px 5px 0px 0px #2980B9;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 90%;
  margin-top: 10px;
}

.Contact-button:hover{
  background: #39a0e5;
}

.Info{
  background: white; /* NOTE: background */
  display: inline;
  width: 40vw;
  height: 538px;
  margin-left: 80px;
  margin-top: 40px;
}

.Info-redes{
  margin-top: 20px;
  width: 100%;
  height: 30px;
  background: white; /* NOTE: background */
  display: flex;
}

.Info-dir{
  width: 100%;
  height: 80px;
  background: white; /* NOTE: background */
}

.Info-empresa{
  width: 100%;
  height: 30px;
  background: white; /* NOTE: background */
}

.form p{
  margin: 2px;
}

.Info-dir p,
.Info-empresa p{
  margin: 0;
}

.Info p{
  margin-bottom: 3px;
}

footer{
  position: fixed;
  background: #F9F9F9;
  display: flex;
  margin-left:0;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content:space-around;
  bottom: 0;
}

footer p{
  margin:0;
}

.footer-kitma a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-redes{
  display: flex;
}

.Redes-Container{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:10px;

}

.Redes-facebook{
  width: 20px;
}

.Redes-twitter{
  width: 20px;
}

.Redes-instagram{
    width: 20px;
}

.footer-redes{
  height: 20px;
  width: 20px;
}


.Redes-Container-d{
  height: 20px;
  width: 20px;
  margin:0;
  margin-left:0px;

}

.Redes-facebook-d,
.Redes-instagram-d,
.Redes-twitter-d{
  width: 20px;
}

.Redes-twitter-d{
  margin-left: 10px;
}

.Redes-instagram-d{
  margin-left: 20px;
}
